body{
    background-color: rgb(0, 0, 0);
    /*rgb(213, 243, 240);*/
}

#caixa-texto{
    text-align: center;
    margin-top: 10%;
    
}

#respostaTexto{
    position: absolute;
    left: 34.5%;
    top: 35%;
}

#botoes{
    position: absolute;
    left: 46.5%;
    top: 30%;
}
#btn-cifrar{
    background-olor: turquoise;
}